/* stylelint-disable max-line-length */

//==========================================================================
//  Color Variables
//==========================================================================

//  Wealthbox Global Raw Color Palette
//==========================================================================

$h-colors-raw: (
  gray-900:   #313947,
  gray-800:   #464d5a,
  gray-700:   #5b626e,
  gray-600:   #717883,
  gray-500:   #888e98,
  gray-400:   #9fa5ae,
  gray-300:   #b7bdc4,
  gray-250:   #c3c9cf,
  gray-200:   #d0d5db,
  gray-150:   #dce1e6,
  gray-100:   #e9eef2,
  gray-50:    #f4f6f8,
  gray-25:    #f9fafb,
  blue-900:   #062c54,
  blue-800:   #083c74,
  blue-700:   #0b4c93,
  blue-600:   #0d5db4,
  blue-500:   #106ed4,
  blue-400:   #3f8bdc,
  blue-300:   #6fa8e5,
  blue-200:   #9fc5ed,
  blue-100:   #cfe2f6,
  blue-50:    #e6f0fa,
  blue-25:    #f2f7fc,
  purple-900: #3d2746,
  purple-800: #533360,
  purple-700: #6a3f7c,
  purple-600: #824c98,
  purple-500: #9b59b6,
  purple-400: #b07ac5,
  purple-300: #c59ad3,
  purple-200: #d8bbe2,
  purple-100: #ecddf1,
  purple-50:  #f6eef8,
  purple-25:  #faf6fb,
  green-900:  #1a4526,
  green-800:  #1d5f32,
  green-700:  #1e7a3d,
  green-600:  #1c964a,
  green-500:  #15b356,
  green-400:  #5dc377,
  green-300:  #8ad398,
  green-200:  #b2e2ba,
  green-100:  #d9f1dc,
  green-50:   #ecf8ed,
  green-25:   #f5fbf6,
  yellow-900: #595518,
  yellow-800: #7b761b,
  yellow-700: #9f991b,
  yellow-600: #c4bd19,
  yellow-500: #ebe312,
  yellow-400: #f3e859,
  yellow-300: #f9ee86,
  yellow-200: #fef3af,
  yellow-100: #fff9d7,
  yellow-50:  #fffceb,
  yellow-25:  #fffdf5,
  orange-900: #613511,
  orange-800: #864812,
  orange-700: #ad5b10,
  orange-600: #d56f0b,
  orange-500: #ff8400,
  orange-400: #ff9d47,
  orange-300: #ffb576,
  orange-200: #ffcea3,
  orange-100: #ffe6d0,
  orange-50:  #fff2e7,
  orange-25:  #fff8f3,
  red-900:    #5c0606,
  red-800:    #800808,
  red-700:    #a20b0b,
  red-600:    #c50d0d,
  red-500:    #e81010,
  red-400:    #ec3f3f,
  red-300:    #f16f6f,
  red-200:    #f59f9f,
  red-100:    #facfcf,
  red-50:     #fce6e6,
  red-25:     #fdf2f2,
  black:      #000,
  white:      #fff
);

//  Gray Palette
//==========================================================================

$h-gray-900: map-get($h-colors-raw, gray-900);
$h-gray-800: map-get($h-colors-raw, gray-800);
$h-gray-700: map-get($h-colors-raw, gray-700);
$h-gray-600: map-get($h-colors-raw, gray-600);
$h-gray-500: map-get($h-colors-raw, gray-500);
$h-gray-400: map-get($h-colors-raw, gray-400);
$h-gray-300: map-get($h-colors-raw, gray-300);
$h-gray-250: map-get($h-colors-raw, gray-250);
$h-gray-200: map-get($h-colors-raw, gray-200);
$h-gray-150: map-get($h-colors-raw, gray-150);
$h-gray-100: map-get($h-colors-raw, gray-100);
$h-gray-50: map-get($h-colors-raw, gray-50);
$h-gray-25: map-get($h-colors-raw, gray-25);

//  Blue Palette
//==========================================================================

$h-blue-800: map-get($h-colors-raw, blue-800);
$h-blue-700: map-get($h-colors-raw, blue-700);
$h-blue-600: map-get($h-colors-raw, blue-600);
$h-blue-500: map-get($h-colors-raw, blue-500);
$h-blue-900: map-get($h-colors-raw, blue-900);
$h-blue-400: map-get($h-colors-raw, blue-400);
$h-blue-300: map-get($h-colors-raw, blue-300);
$h-blue-200: map-get($h-colors-raw, blue-200);
$h-blue-100: map-get($h-colors-raw, blue-100);
$h-blue-50: map-get($h-colors-raw, blue-50);
$h-blue-25: map-get($h-colors-raw, blue-25);

//  Purple Palette
//==========================================================================

$h-purple-900: map-get($h-colors-raw, purple-900);
$h-purple-800: map-get($h-colors-raw, purple-800);
$h-purple-700: map-get($h-colors-raw, purple-700);
$h-purple-600: map-get($h-colors-raw, purple-600);
$h-purple-500: map-get($h-colors-raw, purple-500);
$h-purple-400: map-get($h-colors-raw, purple-400);
$h-purple-300: map-get($h-colors-raw, purple-300);
$h-purple-200: map-get($h-colors-raw, purple-200);
$h-purple-100: map-get($h-colors-raw, purple-100);
$h-purple-50: map-get($h-colors-raw, purple-50);
$h-purple-25: map-get($h-colors-raw, purple-25);

//  Green Palette
//==========================================================================

$h-green-800: map-get($h-colors-raw, green-800);
$h-green-900: map-get($h-colors-raw, green-900);
$h-green-700: map-get($h-colors-raw, green-700);
$h-green-600: map-get($h-colors-raw, green-600);
$h-green-500: map-get($h-colors-raw, green-500);
$h-green-400: map-get($h-colors-raw, green-400);
$h-green-300: map-get($h-colors-raw, green-300);
$h-green-200: map-get($h-colors-raw, green-200);
$h-green-100: map-get($h-colors-raw, green-100);
$h-green-50: map-get($h-colors-raw, green-50);
$h-green-25: map-get($h-colors-raw, green-25);

//  Yellow Palette
//==========================================================================

$h-yellow-900: map-get($h-colors-raw, yellow-900);
$h-yellow-800: map-get($h-colors-raw, yellow-800);
$h-yellow-700: map-get($h-colors-raw, yellow-700);
$h-yellow-600: map-get($h-colors-raw, yellow-600);
$h-yellow-500: map-get($h-colors-raw, yellow-500);
$h-yellow-400: map-get($h-colors-raw, yellow-400);
$h-yellow-300: map-get($h-colors-raw, yellow-300);
$h-yellow-200: map-get($h-colors-raw, yellow-200);
$h-yellow-100: map-get($h-colors-raw, yellow-100);
$h-yellow-50: map-get($h-colors-raw, yellow-50);
$h-yellow-25: map-get($h-colors-raw, yellow-25);

//  Orange Palette
//==========================================================================

$h-orange-900: map-get($h-colors-raw, orange-900);
$h-orange-800: map-get($h-colors-raw, orange-800);
$h-orange-700: map-get($h-colors-raw, orange-700);
$h-orange-600: map-get($h-colors-raw, orange-600);
$h-orange-500: map-get($h-colors-raw, orange-500);
$h-orange-400: map-get($h-colors-raw, orange-400);
$h-orange-300: map-get($h-colors-raw, orange-300);
$h-orange-200: map-get($h-colors-raw, orange-200);
$h-orange-100: map-get($h-colors-raw, orange-100);
$h-orange-50: map-get($h-colors-raw, orange-50);
$h-orange-25: map-get($h-colors-raw, orange-25);

//  Red Palette
//==========================================================================

$h-red-900: map-get($h-colors-raw, red-900);
$h-red-800: map-get($h-colors-raw, red-800);
$h-red-700: map-get($h-colors-raw, red-700);
$h-red-600: map-get($h-colors-raw, red-600);
$h-red-500: map-get($h-colors-raw, red-500);
$h-red-400: map-get($h-colors-raw, red-400);
$h-red-300: map-get($h-colors-raw, red-300);
$h-red-200: map-get($h-colors-raw, red-200);
$h-red-100: map-get($h-colors-raw, red-100);
$h-red-50: map-get($h-colors-raw, red-50);
$h-red-25: map-get($h-colors-raw, red-25);

//  Black / White
//==========================================================================

$h-black: map-get($h-colors-raw, black);
$h-white: map-get($h-colors-raw, white);

// Semantic Palette
//==========================================================================

$h-color-brand: $h-blue-500;
$h-color-primary: $h-blue-500;
$h-color-positive: $h-green-500;
$h-color-success: $h-color-positive; // Consider deprecation in v3.0 in favor of "positive"
$h-color-negative: $h-red-600;
$h-color-error: $h-color-negative; // Consider deprecation in v3.0 in favor of "negative"
$h-color-active: $h-blue-25;

//  Text Semantic Color Palette
//==========================================================================

$h-colors-text-semantic: (
  lighter:    $h-gray-300,
  light:      $h-gray-500,
  normal:     $h-gray-700,
  dark:       $h-gray-800,
  darker:     $h-gray-900,
  positive:   $h-color-positive,
  success:    $h-color-positive, // Consider deprecation in v3.0 in favor of "positive"
  negative:   $h-color-negative,
  error:      $h-color-negative, // Consider deprecation in v3.0 in favor of "negative"
  brand:      $h-color-brand,
  primary:    $h-color-primary,
  link:       $h-blue-600,
  link-hover: $h-blue-500,
  heading:    inherit
);
$h-color-text-lighter: map-get($h-colors-text-semantic, lighter);
$h-color-text-light: map-get($h-colors-text-semantic, light);
$h-color-text-normal: map-get($h-colors-text-semantic, normal);
$h-color-text-dark: map-get($h-colors-text-semantic, dark);
$h-color-text-darker: map-get($h-colors-text-semantic, darker);
$h-color-text-positive: map-get($h-colors-text-semantic, positive);
$h-color-text-success: map-get($h-colors-text-semantic, success); // Consider deprecation in v3.0 in favor of "positive"
$h-color-text-negative: map-get($h-colors-text-semantic, negative);
$h-color-text-error: map-get($h-colors-text-semantic, error);
$h-color-text-brand: map-get($h-colors-text-semantic, brand);
$h-color-text-primary: map-get($h-colors-text-semantic, primary);
$h-color-link: map-get($h-colors-text-semantic, link);
$h-color-link-hover: map-get($h-colors-text-semantic, link-hover);
$h-color-heading: map-get($h-colors-text-semantic, heading);

//  Background Semantic Color Palette
//==========================================================================

$h-colors-background-semantic: (
  positive: $h-color-positive,
  success:  $h-color-positive, // Consider deprecation in v3.0 in favor of "positive"
  negative: $h-color-negative,
  error:    $h-color-negative, // Consider deprecation in v3.0 in favor of "negative"
  brand:    $h-color-brand,
  primary:  $h-color-primary,
  active:   $h-color-active
);
$h-color-background-positive: map-get($h-colors-background-semantic, positive);
$h-color-background-success: map-get($h-colors-background-semantic, success); // Consider deprecation in v3.0 in favor of "positive"
$h-color-background-negative: map-get($h-colors-background-semantic, negative);
$h-color-background-error: map-get($h-colors-background-semantic, error); // Consider deprecation in v3.0 in favor of "negative"
$h-color-background-brand: map-get($h-colors-background-semantic, brand);
$h-color-background-primary: map-get($h-colors-background-semantic, primary);
$h-color-background-active: map-get($h-colors-background-semantic, active);
