
//==========================================================================
//  Color Variables
//==========================================================================

//  Wealthbox Palette
//==========================================================================

$h-gray-900:   #313947;
$h-gray-800:   #464d5a;
$h-gray-700:   #5b626e;
$h-gray-600:   #717883;
$h-gray-500:   #888e98;
$h-gray-400:   #9fa5ae;
$h-gray-300:   #b7bdc4;
$h-gray-250:   #c3c9cf;
$h-gray-200:   #d0d5db;
$h-gray-150:   #dce1e6;
$h-gray-100:   #e9eef2;
$h-gray-50:    #f4f6f8;
$h-gray-25:    #f9fafb;

$h-blue-900:   #062c54;
$h-blue-800:   #083c74;
$h-blue-700:   #0b4c93;
$h-blue-600:   #0d5db4;
$h-blue-500:   #106ed4;
$h-blue-400:   #3f8bdc;
$h-blue-300:   #6fa8e5;
$h-blue-200:   #9fc5ed;
$h-blue-100:   #cfe2f6;
$h-blue-50:    #e6f0fa;
$h-blue-25:    #f2f7fc;

$h-purple-900: #3d2746;
$h-purple-800: #533360;
$h-purple-700: #6a3f7c;
$h-purple-600: #824c98;
$h-purple-500: #9b59b6;
$h-purple-400: #b07ac5;
$h-purple-300: #c59ad3;
$h-purple-200: #d8bbe2;
$h-purple-100: #ecddf1;
$h-purple-50:  #f6eef8;

$h-green-900:  #1a4526;
$h-green-800:  #1d5f32;
$h-green-700:  #1e7a3d;
$h-green-600:  #1c964a;
$h-green-500:  #15b356;
$h-green-400:  #5dc377;
$h-green-300:  #8ad398;
$h-green-200:  #b2e2ba;
$h-green-100:  #d9f1dc;
$h-green-50:   #ecf8ed;

$h-yellow-900: #595518;
$h-yellow-800: #7b761b;
$h-yellow-700: #9f991b;
$h-yellow-600: #c4bd19;
$h-yellow-500: #ebe312;
$h-yellow-400: #f3e859;
$h-yellow-300: #f9ee86;
$h-yellow-200: #fef3af;
$h-yellow-100: #fff9d7;
$h-yellow-50:  #fffceb;

$h-orange-900: #613511;
$h-orange-800: #864812;
$h-orange-700: #ad5b10;
$h-orange-600: #d56f0b;
$h-orange-500: #ff8400;
$h-orange-400: #ff9d47;
$h-orange-300: #ffb576;
$h-orange-200: #ffcea3;
$h-orange-100: #ffe6d0;
$h-orange-50:  #fff2e7;

$h-red-900:    #5c0606;
$h-red-800:    #800808;
$h-red-700:    #a20b0b;
$h-red-600:    #c50d0d;
$h-red-500:    #e81010;
$h-red-400:    #ec3f3f;
$h-red-300:    #f16f6f;
$h-red-200:    #f59f9f;
$h-red-100:    #facfcf;
$h-red-50:     #fce6e6;

$h-black:      #000;
$h-white:      #fff;

// Brand Palette
//==========================================================================

$h-color-brand: $h-blue-500;

//  Text Colors
//==========================================================================

$h-color-text-lighter: $h-gray-300;
$h-color-text-light:   $h-gray-500;
$h-color-text:         $h-gray-700;
$h-color-text-dark:    $h-gray-800;
$h-color-text-success: $h-green-500;
$h-color-text-error:   $h-red-600;
$h-color-link:         $h-blue-600;
$h-color-link-hover:   $h-blue-500;
$h-color-headings:     inherit;
