
//==========================================================================
//  Component Variables
//==========================================================================

// Shared
//==========================================================================

$h-color-background-shared-component: $h-white;
$h-color-background-secondary-shared-component: $h-gray-50;
$h-color-border-shared-component: $h-gray-100;
$h-color-border-shared-component-dark: $h-gray-150;
$h-border-radius-shared-component: $h-border-radius-lg;
$h-box-shadow-shared-component: $h-shadow-1;
$h-opacity-disabled-shared-component: 0.5;
$h-cursor-disabled-shared-component: auto;
$h-box-shadow-secondary-shared-component: $h-shadow-2;
$h-border-radius-secondary-shared-component: $h-border-radius;

// Badge
//==========================================================================

//  Box Model
$h-padding-y-badge-base: 0.25em;
$h-padding-x-badge-base: 0.75em;
$h-spacing-right-badge-icon-base: 0.25em;

// Button
//==========================================================================

$h-font-size-btn-xs: $h-font-size-xs;
$h-font-size-btn-sm: $h-font-size-sm;
$h-font-size-btn-md: $h-font-size-md;
$h-font-size-btn-lg: $h-font-size-lg;
$h-font-size-btn-xl: $h-font-size-xl;

//  Box Model
$h-padding-y-btn-xs: 0.1875rem;
$h-padding-y-btn-sm: 0.25rem;
$h-padding-y-btn-lg: 0.5rem;
$h-padding-y-btn-xl: 0.625rem;
$h-spacing-x-btn: 0.5rem;
$h-border-radius-btn: $h-border-radius;
$h-box-shadow-size-btn: 0.1875rem;
$h-box-shadow-alpha-btn: 0.4;

// Card
//==========================================================================

// Box Model
$h-padding-card: 1rem;
$h-padding-y-card-header-footer: 0.75rem;

// Form Elements
//==========================================================================

// Color
$h-color-text-form-element-label: $h-gray-600;
$h-color-text-form-element: $h-gray-900;
$h-color-text-form-element-positive: $h-color-text-positive;
$h-color-text-form-element-success: $h-color-text-positive; // Consider deprecation in v3.0 in favor of "positive"
$h-color-text-form-element-negative: $h-color-text-negative;
$h-color-text-form-element-error: $h-color-text-negative; // Consider deprecation in v3.0 in favor of "negative"
$h-color-text-form-element-disabled: $h-gray-400;
$h-color-text-form-element-placeholder: $h-color-text-lighter;
$h-color-icon-checkbox-radio: str-slice("#{$h-white}", 2);
$h-color-icon-checkbox-radio-disabled: str-slice("#{$h-gray-250}", 2);
$h-color-background-form-element: $h-color-background-shared-component;
$h-color-background-form-element-alt: $h-gray-25;
$h-color-background-form-element-select: $h-color-background-form-element-alt;
$h-color-background-form-element-addon: $h-color-background-form-element-alt;
$h-color-background-form-element-file: $h-color-background-form-element-alt;
$h-color-background-form-element-disabled: $h-gray-100;
$h-color-border-form-element: $h-gray-200;
$h-color-border-form-element-focused: $h-blue-300;
$h-color-border-form-element-positive: $h-green-600;
$h-color-border-form-element-negative: $h-red-600;
$h-color-border-form-element-error: $h-red-600; // Consider deprecation in v3.0 in favor of "negative"
$h-color-box-shadow-form-element-disabled: $h-gray-150;
$h-color-box-shadow-form-element-focused: $h-blue-100;
$h-color-box-shadow-form-element-positive: $h-green-200;
$h-color-box-shadow-form-element-negative: $h-red-100;
$h-color-box-shadow-form-element-error: $h-red-100; // Consider deprecation in v3.0 in favor of "negative"
$h-color-border-form-element-dark: $h-blue-600;
$h-color-background-form-element-dark: $h-blue-600;
$h-color-text-form-element-dark: $h-blue-100;
$h-color-text-form-element-dark-disabled: $h-blue-200;
$h-color-text-form-element-dark-placeholder: $h-blue-300;
$h-color-box-shadow-form-element-dark-focused: $h-blue-300;

// Box Model
$h-spacing-form-element-label: 0.375rem;
$h-spacing-form-element-check: 0.5rem;
$h-spacing-form-group: 1.5rem;
$h-spacing-form-group-nested: ($h-spacing-form-group * calc(2 / 3));
$h-line-height-form-element: 1.2857;
$h-height-form-element: 2rem;
$h-height-form-element-lg: 2.5rem;
$h-border-radius-form-element-lg: calc($h-height-form-element-lg / 2);
$h-padding-x-form-element: 0.5rem;
$h-padding-x-form-element-lg: 0.75rem;
$h-padding-y-form-element: 0.375rem;
$h-border-radius-form-element: $h-border-radius;
$h-box-shadow-size-form-element: 0 0 0 0.1875rem;
$h-box-shadow-form-element-disabled: $h-box-shadow-size-form-element $h-color-box-shadow-form-element-disabled;
$h-box-shadow-form-element-focused: $h-box-shadow-size-form-element $h-color-box-shadow-form-element-focused;
$h-box-shadow-form-element-positive: $h-box-shadow-size-form-element $h-color-box-shadow-form-element-positive;
$h-box-shadow-form-element-negative: $h-box-shadow-size-form-element $h-color-box-shadow-form-element-negative;
/* stylelint-disable-next-line max-line-length */
$h-box-shadow-form-element-error: $h-box-shadow-size-form-element $h-color-box-shadow-form-element-error; // Consider deprecation in v3.0 in favor of "negative"
$h-spacing-checkbox-radio: 0.5rem;
$h-size-checkbox-radio: 1.25rem;
$h-size-checkbox-radio-sm: 1rem;
$h-size-checkbox-radio-lg: 1.5rem;
$h-scale-checkbox-radio-active: 1.125;
$h-scale-checkbox-invisible: 0.35;
$h-scale-checkbox-visible: 0.7;
$h-scale-radio-invisible: 0.2;
$h-scale-radio-visible: 0.4444;
$h-scale-radio-visible-sm: 0.4286;
$h-scale-radio-visible-lg: 0.4545;
$h-size-form-element-icon: 1.25rem;
$h-spacing-form-element-icon: 0.75rem;

// Animation
$h-animation-duration-form-element: $h-animation-duration-sm;
$h-animation-duration-checkbox-radio: $h-animation-duration-xl;

// Modal
//==========================================================================

// Box Model
$h-padding-modal: 1.5rem;
$h-width-modal-mobile: calc(100vw - 2rem);
$h-width-modal-desktop: 500px;
$h-width-modal-desktop-sm: 360px;
$h-width-modal-desktop-lg: 650px;
$h-min-height-modal: calc($h-width-modal-desktop / 2);
$h-min-height-modal-lg: calc($h-width-modal-desktop-lg / 2);
$h-box-shadow-modal: 0 0 0.75rem -0.25rem rgba($h-black, 0.25);

// Dialog
//==========================================================================

// Box Model
$h-dialog-padding: 1.5rem;
$h-dialog-box-shadow: 0 0 0.75rem -0.25rem rgba($h-black, 0.25);
$h-dialog-width-desktop-sm: 360px;
$h-dialog-width-desktop-md: 500px;
$h-dialog-width-desktop-lg: 650px;
$h-dialog-width-desktop-xl: 800px;
$h-dialog-width-desktop-xxl: 1140px;

// Table
//==========================================================================

// Box Model
$h-spacing-x-table-cell: 1rem;
$h-spacing-y-table-cell: 0.5rem;
$h-spacing-x-dense-table-cell: 0.5rem;
$h-spacing-y-dense-table-cell: 0.25rem;

// Switch
//==========================================================================

// Color
$h-color-background-switch: $h-gray-200;
$h-color-background-switch-dot: $h-white;

// Box Model
$h-height-switch: 1.5rem;
$h-size-switch-dot: 1.125rem;
$h-border-radius-switch: calc($h-height-switch / 2);

// Animation
$h-animation-duration-switch: $h-animation-duration-sm;

// Tooltip
//==========================================================================

// Box Model
$h-size-tooltip-arrow: 0.375rem !default;

// Color
$h-color-background-tooltip: rgba($h-black, 0.95) !default;
$h-color-text-tooltip: $h-white !default;
