
//==========================================================================
//  Print Variables
//==========================================================================

$h-color-text-print: $h-black;
$h-color-background-print: $h-white;
$h-color-background-print-alt: $h-gray-50;
$h-color-border-print: $h-gray-500;
$h-color-border-print-light: $h-gray-300;
$h-color-border-print-lighter: $h-gray-100;
$h-color-border-print-dark: $h-black;
