
//==========================================================================
//  Print Variables
//==========================================================================

$h-color-border-print: $h-black;
$h-color-text-print: $h-black;
$h-color-background-print: $h-white;
