
//==========================================================================
//  Print Variables
//==========================================================================

$h-color-text-print: $h-black;
$h-color-background-print: $h-white;
$h-color-background-print-alt: $h-gray-150;

$h-color-border-print: $h-black;
$h-color-border-print-light: $h-gray-500;
$h-color-border-print-lighter: $h-gray-300;
