
//==========================================================================
//  Button
//==========================================================================

//  Base
//==========================================================================

@mixin h-btn-base {
  display: inline-flex;
  border: 1px solid transparent;
  background: transparent;
  border-radius: $h-border-radius-btn;
  cursor: pointer;
  font-style: normal;
  font-weight: $h-font-weight-medium;
  text-align: center;
  user-select: none;
  vertical-align: middle;

  @include h-btn-size(
    $h-padding-btn: $h-padding-y-form-element 0.75rem,
    $h-font-size-btn: $h-font-size-md,
    $h-line-height-btn: $h-line-height-form-element
  );
  @include h-btn-disabled;
  @include h-form-element-transition;

  &:hover,
  &.h-btn--hover {
    text-decoration: none;
  }

  &:focus,
  &.h-btn--focus {
    outline: 0;
  }

  &[class*="h-icon-"]::before {
    margin-right: 0.5rem;
    line-height: inherit;
  }

  &.h-btn--square[class*="h-icon-"]::before {
    margin-right: 0;
  }
}

//  Size
//==========================================================================

@mixin h-btn-size($h-padding-btn, $h-font-size-btn, $h-line-height-btn: $h-line-height-base) {
  padding: $h-padding-btn;
  font-size: $h-font-size-btn;
  line-height: $h-line-height-btn;
}

@mixin h-btn-xs {
  @include h-btn-size($h-padding-btn: $h-padding-y-btn-xs 0.375rem, $h-font-size-btn: $h-font-size-btn-xs);
}

@mixin h-btn-sm {
  @include h-btn-size($h-padding-btn: $h-padding-y-btn-sm 0.5rem, $h-font-size-btn: $h-font-size-btn-sm);
}

@mixin h-btn-md {
  @include h-btn-size(
    $h-padding-btn: $h-padding-y-form-element 0.75rem,
    $h-font-size-btn: $h-font-size-btn-md,
    $h-line-height-btn: $h-line-height-form-element
  );
}

@mixin h-btn-lg {
  @include h-btn-size($h-padding-btn: $h-padding-y-btn-lg 1rem, $h-font-size-btn: $h-font-size-btn-lg);
}

@mixin h-btn-xl {
  @include h-btn-size($h-padding-btn: $h-padding-y-btn-xl 1.25rem, $h-font-size-btn: $h-font-size-btn-xl);
}

//  Shape
//==========================================================================

/* stylelint-disable number-max-precision */
@function set-square-button-width(
  $h-padding-y-btn,
  $h-font-size-btn,
  $h-line-height-btn: $h-line-height-base,
  $h-total-border-width-btn: 0.125rem,
  $has-remainder: false,
  $h-remainder-btn: 0.03125rem
) {
  /* stylelint-enable */
  // Required for instances where we calculate height based on a font-size value that is an odd number, resulting in a decimal remainder
  // Since sass doesn't have a native floor method, we just subtract the remainder value to keep our dimensions integers
  @if $has-remainder {
    @return (($h-padding-y-btn * 2) + ($h-font-size-btn * $h-line-height-btn) + ($h-total-border-width-btn - $h-remainder-btn)); /* stylelint-disable-line max-line-length */
  } @else {
    @return (($h-padding-y-btn * 2) + ($h-font-size-btn * $h-line-height-btn) + $h-total-border-width-btn);
  }
}

@mixin h-btn-square($h-size-square-btn, $h-font-size-square-btn) {
  width: $h-size-square-btn;
  height: $h-size-square-btn;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  font-size: $h-font-size-square-btn;
}

@mixin h-btn-square-xs {
  @include h-btn-square($h-size-square-btn: set-square-button-width($h-padding-y-btn-xs, $h-font-size-btn-xs, $has-remainder: true), $h-font-size-square-btn: $h-font-size-lg); /* stylelint-disable-line max-line-length */
}

@mixin h-btn-square-sm {
  @include h-btn-square($h-size-square-btn: set-square-button-width($h-padding-y-btn-sm, $h-font-size-btn-sm), $h-font-size-square-btn: $h-font-size-lg); /* stylelint-disable-line max-line-length */
}

@mixin h-btn-square-md {
  @include h-btn-square($h-size-square-btn: set-square-button-width($h-padding-y-form-element, $h-font-size-btn-md, $h-line-height-form-element), $h-font-size-square-btn: $h-font-size-lg); /* stylelint-disable-line max-line-length */
}

@mixin h-btn-square-lg {
  @include h-btn-square($h-size-square-btn: set-square-button-width($h-padding-y-btn-lg, $h-font-size-btn-lg), $h-font-size-square-btn: $h-font-size-xl); /* stylelint-disable-line max-line-length */
}

@mixin h-btn-square-xl {
  @include h-btn-square($h-size-square-btn: set-square-button-width($h-padding-y-btn-xl, $h-font-size-btn-xl), $h-font-size-square-btn: $h-font-size-xl); /* stylelint-disable-line max-line-length */
}

//  Style (Fill and Outline)
//==========================================================================

@mixin h-btn-style(
  $h-color-background-btn,
  $h-color-text-btn,
  $h-color-background-hover-btn,
  $h-color-text-hover-btn,
  $h-color-box-shadow-btn,
  $h-color-border-hover-btn: false,
  $h-color-border-btn: false,
  $h-color-background-outline-active-btn: false
) {
  &,
  &:active,
  &.h-btn--active,
  &:focus,
  &.h-btn--focus {
    color: $h-color-text-btn;
  }

  &,
  &:focus,
  &.h-btn--focus {
    @if $h-color-border-btn {
      border-color: $h-color-border-btn;
    }

    background-color: $h-color-background-btn;
  }

  &:hover,
  &.h-btn--hover {
    @if $h-color-border-hover-btn {
      border-color: $h-color-border-hover-btn;
    }

    background-color: $h-color-background-hover-btn;
    color: $h-color-text-hover-btn;
  }

  &:active,
  &.h-btn--active {
    @if $h-color-border-hover-btn {
      border-color: darken($h-color-border-hover-btn, 5%);
    }

    @if $h-color-background-outline-active-btn {
      background-color: $h-color-background-outline-active-btn;
    } @else {
      background-color: darken($h-color-background-hover-btn, 5%);
    }
  }

  &:focus,
  &.h-btn--focus {
    box-shadow: 0 0 0 $h-box-shadow-size-btn rgba($h-color-box-shadow-btn, $h-box-shadow-alpha-btn);
  }

  /* stylelint-disable selector-class-pattern */
  &:disabled,
  &.disabled,
  &[disabled],
  &.h-btn--disabled {
    /* stylelint-enable selector-class-pattern */
    &:hover,
    &.h-btn--hover,
    &:active,
    &.h-btn--active,
    &:focus,
    &.h-btn--focus {
      border-color: $h-color-border-btn;
      background-color: $h-color-background-btn;
      box-shadow: none;
      color: $h-color-text-btn;
    }
  }
}

@mixin h-btn-primary {
  @include h-btn-style(
    $h-color-background-btn: $h-blue-500,
    $h-color-text-btn: $h-white,
    $h-color-background-hover-btn: $h-blue-600,
    $h-color-text-hover-btn: $h-white,
    $h-color-box-shadow-btn: $h-blue-500
  );
}

@mixin h-btn-secondary {
  @include h-btn-style(
    $h-color-border-btn: $h-gray-200,
    $h-color-background-btn: $h-gray-25,
    $h-color-text-btn: $h-gray-700,
    $h-color-border-hover-btn: $h-gray-250,
    $h-color-background-hover-btn: $h-gray-50,
    $h-color-text-hover-btn: $h-gray-800,
    $h-color-box-shadow-btn: $h-blue-500
  );
}

@mixin h-btn-positive {
  @include h-btn-style(
    $h-color-background-btn: $h-green-500,
    $h-color-text-btn: $h-white,
    $h-color-background-hover-btn: $h-green-600,
    $h-color-text-hover-btn: $h-white,
    $h-color-box-shadow-btn: $h-green-500
  );
}

@mixin h-btn-negative {
  @include h-btn-style(
    $h-color-background-btn: $h-red-600,
    $h-color-text-btn: $h-white,
    $h-color-background-hover-btn: $h-red-700,
    $h-color-text-hover-btn: $h-white,
    $h-color-box-shadow-btn: $h-red-600
  );
}

@mixin h-btn-info {
  @include h-btn-style(
    $h-color-background-btn: $h-blue-50,
    $h-color-text-btn: $h-blue-500,
    $h-color-background-hover-btn: $h-blue-100,
    $h-color-text-hover-btn: $h-blue-600,
    $h-color-box-shadow-btn: $h-blue-50
  );
}

@mixin h-btn-primary-outline {
  @include h-btn-style(
    $h-color-border-btn: $h-blue-500,
    $h-color-background-btn: $h-white,
    $h-color-text-btn: $h-blue-500,
    $h-color-border-hover-btn: $h-blue-600,
    $h-color-background-hover-btn: $h-white,
    $h-color-text-hover-btn: $h-blue-600,
    $h-color-background-outline-active-btn: $h-blue-50,
    $h-color-box-shadow-btn: $h-blue-500
  );
}

@mixin h-btn-secondary-outline {
  @include h-btn-style(
    $h-color-border-btn: $h-gray-700,
    $h-color-background-btn: $h-white,
    $h-color-text-btn: $h-gray-700,
    $h-color-border-hover-btn: $h-gray-800,
    $h-color-background-hover-btn: $h-white,
    $h-color-text-hover-btn: $h-gray-800,
    $h-color-background-outline-active-btn: $h-gray-50,
    $h-color-box-shadow-btn: $h-blue-500
  );
}

@mixin h-btn-positive-outline {
  @include h-btn-style(
    $h-color-border-btn: $h-green-500,
    $h-color-background-btn: $h-white,
    $h-color-text-btn: $h-green-500,
    $h-color-border-hover-btn: $h-green-600,
    $h-color-background-hover-btn: $h-white,
    $h-color-text-hover-btn: $h-green-600,
    $h-color-background-outline-active-btn: $h-green-50,
    $h-color-box-shadow-btn: $h-green-500
  );
}

@mixin h-btn-negative-outline {
  @include h-btn-style(
    $h-color-border-btn: $h-red-600,
    $h-color-background-btn: $h-white,
    $h-color-text-btn: $h-red-600,
    $h-color-border-hover-btn: $h-red-700,
    $h-color-background-hover-btn: $h-white,
    $h-color-text-hover-btn: $h-red-700,
    $h-color-background-outline-active-btn: $h-red-50,
    $h-color-box-shadow-btn: $h-red-700
  );
}

@mixin h-btn-info-outline {
  @include h-btn-style(
    $h-color-border-btn: $h-blue-200,
    $h-color-background-btn: $h-white,
    $h-color-text-btn: $h-blue-600,
    $h-color-border-hover-btn: $h-blue-300,
    $h-color-background-hover-btn: $h-white,
    $h-color-text-hover-btn: $h-blue-800,
    $h-color-background-outline-active-btn: $h-blue-50,
    $h-color-box-shadow-btn: $h-blue-100
  );
}

//  Style (Link)
//==========================================================================

@mixin h-btn-link-style(
  $h-color-text-btn,
  $h-color-text-hover-btn
) {
  color: $h-color-text-btn;

  &:hover,
  &.h-btn--hover,
  &:active,
  &.h-btn--active,
  &:focus,
  &.h-btn--focus {
    color: $h-color-text-hover-btn;
    text-decoration: underline;
  }

  &:focus,
  &.h-btn--focus {
    box-shadow: $h-box-shadow-form-element-focused;
  }

  /* stylelint-disable selector-class-pattern */
  &:disabled,
  &.disabled,
  &[disabled],
  &.h-btn--disabled {
    /* stylelint-enable selector-class-pattern */
    &:hover,
    &.h-btn--hover,
    &:active,
    &.h-btn--active,
    &:focus,
    &.h-btn--focus {
      color: $h-color-text-btn;
      text-decoration: none;
    }
  }
}

@mixin h-btn-link {
  @include h-btn-link-style(
    $h-color-text-btn: $h-color-link,
    $h-color-text-hover-btn: $h-color-link-hover
  );
}

@mixin h-btn-link-secondary {
  @include h-btn-link-style(
    $h-color-text-btn: $h-color-text-normal,
    $h-color-text-hover-btn: $h-color-text-dark
  );
}

//  Misc
//==========================================================================

@mixin h-btn-border-hover {
  border: 1px solid transparent;
  color: $h-color-text-light;

  &:hover,
  &:active,
  &:focus {
    border: 1px solid $h-gray-300;
    color: $h-color-text-normal;
  }

  &:focus {
    box-shadow: $h-box-shadow-form-element-focused;
  }
}

@mixin h-btn-disabled {
  /* stylelint-disable selector-class-pattern */
  &:disabled,
  &.disabled,
  &[disabled],
  &.h-btn--disabled {
    /* stylelint-enable selector-class-pattern */
    @include h-shared-component-disabled;
  }
}

@mixin h-btn-enabled {
  /* stylelint-disable selector-class-pattern */
  &:disabled,
  &.disabled,
  &[disabled],
  &.h-btn--disabled {
    /* stylelint-enable selector-class-pattern */
    cursor: pointer;
    opacity: 1;
  }
}

@mixin h-btn-full-width-mobile {
  @include media-breakpoint-down(sm) {
    display: flex;
    width: 100%;
    justify-content: center;
  }
}

@mixin h-btn-no-focus {
  &:focus,
  &.h-btn--focus {
    border-color: transparent;
    box-shadow: none;
  }
}
