
//==========================================================================
//  Form
//==========================================================================

@mixin h-form-element-transition {
  transition:
    border-color $h-animation-duration-form-element ease-out,
    background-color $h-animation-duration-form-element ease-out,
    box-shadow $h-animation-duration-form-element ease-out;
}

@mixin h-form-element-focus {
  border-color: $h-color-form-element-border--focused;
  box-shadow: $h-box-shadow-form-element-focused;
  outline: 0;
}

@mixin h-form-element-disabled-readonly {
  border-color: $h-color-form-element-border;
  background-color: $h-color-form-element-background--disabled;
  color: $h-color-form-element-text--disabled;
  // iOS fix for unreadable disabled content; see https://github.com/twbs/bootstrap/issues/11655.
  opacity: 1;
}
