
//==========================================================================
//  Form
//==========================================================================

@mixin h-form-element-transition {
  transition:
    border-color $h-animation-duration-form-element ease-out,
    background-color $h-animation-duration-form-element ease-out,
    box-shadow $h-animation-duration-form-element ease-out;
}

@mixin h-form-element-focus {
  border-color: $h-color-border-form-element-focused;
  box-shadow: $h-box-shadow-form-element-focused;
  outline: 0;
}

@mixin h-form-element-focus-error {
  border-color: $h-color-border-form-element-error;
  box-shadow: $h-box-shadow-form-element-error;
  outline: 0;
}

@mixin h-form-element-disabled-readonly {
  border-color: $h-color-border-form-element;
  background-color: $h-color-background-form-element-disabled;
  color: $h-color-text-form-element-disabled;
  // iOS fix for unreadable disabled content; see https://github.com/twbs/bootstrap/issues/11655.
  opacity: 1;
}
