
//==========================================================================
//  Box Model Utilities
//==========================================================================


//  Border
//==========================================================================

.h-border-radius {
  border-radius: $h-border-radius !important;
}


//  Overflow
//==========================================================================

.h-overflow-auto {
  overflow: auto !important;
}

.h-overflow-x-auto {
  overflow-x: auto !important;
}

.h-overflow-y-auto {
  overflow-y: auto !important;
}

.h-overflow-hidden {
  overflow: hidden !important;
}

.h-overflow-x-hidden {
  overflow-x: hidden !important;
}

.h-overflow-y-hidden {
  overflow-y: hidden !important;
}

.h-overflow-scroll {
  overflow: scroll !important;
}

.h-overflow-x-scroll {
  overflow-x: scroll !important;
}

.h-overflow-y-scroll {
  overflow-y: scroll !important;
}
