
//==========================================================================
//  Box Model Utilities
//==========================================================================

//  Border
//==========================================================================

.h-border-radius {
  border-radius: $h-border-radius !important;
}

//  Image
//==========================================================================

.h-img-fluid {
  max-width: 100%;
  height: auto;
}

//  Overflow
//==========================================================================

.h-overflow-auto {
  overflow: auto !important;
}

.h-overflow-auto-sm-down {
  @include media-breakpoint-down(md) {
    overflow: auto !important;
  }
}

.h-overflow-x-auto {
  overflow-x: auto !important;
}

.h-overflow-y-auto {
  overflow-y: auto !important;
}

.h-overflow-hidden {
  overflow: hidden !important;
}

.h-overflow-x-hidden {
  overflow-x: hidden !important;
}

.h-overflow-y-hidden {
  overflow-y: hidden !important;
}

.h-overflow-scroll {
  overflow: scroll !important;
}

.h-overflow-x-scroll {
  overflow-x: scroll !important;
}

.h-overflow-y-scroll {
  overflow-y: scroll !important;
}

.h-overflow-visible {
  overflow: visible !important;
}

.h-overflow-x-visible {
  overflow-x: visible !important;
}

.h-overflow-y-visible {
  overflow-y: visible !important;
}

//  Height & Width
//==========================================================================

.h-min-height-0 {
  min-height: 0 !important;
}

.h-min-width-0 {
  min-width: 0 !important;
}

.h-width-max-content {
  width: max-content !important;
}
