
//==========================================================================
// Component Utilities
//==========================================================================

//  Button
//=========================================================================

.h-btn-margin-right {
  margin-right: $h-spacing-x-btn !important;
}

.h-btn-margin-left {
  margin-left: $h-spacing-x-btn !important;
}

//  Pointer Events
//=========================================================================

.h-pointer-events-all {
  pointer-events: all !important;
}

.h-pointer-events-none {
  pointer-events: none !important;
}

.h-cursor-auto {
  cursor: auto !important;
}

//  Floating UI
//=========================================================================

.h-floating-ui {
  position: relative;
  z-index: 1001;
}

.h-floating-ui--modals {
  z-index: 1002;
}

.h-floating-ui--popovers,
.h-floating-ui--dropdown {
  z-index: 1003;
}

.h-floating-ui--tooltips {
  z-index: 1004;
}
