
//==========================================================================
// Component Utilities
//==========================================================================

//  Button
//=========================================================================

.h-btn-margin-right {
  margin-right: $h-spacing-x-btn !important;
}

.h-btn-margin-left {
  margin-left: $h-spacing-x-btn !important;
}

//  Pointer Events
//=========================================================================

.h-pointer-events-none {
  pointer-events: none !important;
}

.h-cursor-auto {
  cursor: auto !important;
}
