//==========================================================================
//  Flex gap utility classes
//==========================================================================

.h-gap-1 { gap: 0.25rem; }
.h-gap-2 { gap: 0.5rem; }
.h-gap-3 { gap: 0.75rem; }
.h-gap-4 { gap: 1rem; }

//==========================================================================
//  Helium Flex Classes
//==========================================================================

@for $i from 1 through 12 {
  .h-flex-#{$i} {
    flex: #{$i};
  }
}
