
//==========================================================================
// Shadow Utilities
//==========================================================================


.h-shadow-none {
  box-shadow: none !important;
}

.h-shadow-1 {
  box-shadow: $h-shadow-1 !important;
}

.h-shadow-2 {
  box-shadow: $h-shadow-2 !important;
}

.h-shadow-3 {
  box-shadow: $h-shadow-3 !important;
}

.h-shadow-4 {
  box-shadow: $h-shadow-4 !important;
}

.h-shadow-5 {
  box-shadow: $h-shadow-5 !important;
}
