
//==========================================================================
// Typography Utilities
//==========================================================================

//  Font Family
//=========================================================================

@each $key, $val in $h-font-families {
  .h-font-family-#{$key} {
    font-family: $val !important;
  }
}

//  Font Size
//==========================================================================

@each $key, $val in $h-font-sizes {
  .h-font-size-#{$key} {
    font-size: $val !important;
  }
}

//  Font Weight
//==========================================================================

@each $key, $val in $h-font-weights {
  .h-font-weight-#{$key} {
    font-weight: $val !important;
  }
}

//  Line Height
//==========================================================================

@each $key, $val in $h-line-heights {
  .h-line-height-#{$key} {
    line-height: $val !important;
  }
}

//  Code
//==========================================================================

.h-code {
  display: inline;
  padding: 0.125rem;
  background-color: $h-blue-50;
  border-radius: $h-border-radius;
  color: $h-blue-400;
  font-family: $h-font-family-mono;
  font-size: $h-font-size-sm;
  font-weight: $h-font-weight-bold;
}

//  Word Break
//==========================================================================

.h-word-break-all {
  word-break: break-all !important;
}

.h-word-break-word {
  word-break: break-word !important;
}

//  Text
//==========================================================================

.h-link {
  color: $h-color-link;
  text-decoration: none;

  &:hover {
    color: $h-color-link-hover;
    text-decoration: underline;
  }
}

.h-text-decoration-none {
  text-decoration: none !important;
}

.h-text-decoration-underline {
  text-decoration: underline !important;
}

.h-text-decoration-underline-hover {
  &:hover {
    text-decoration: underline !important;
  }
}

.h-user-select-none {
  user-select: none !important;
}

//==========================================================================
//  Icon size utility classes
//==========================================================================
.h-icon-font-size-sm {
  font-size: 1rem;
}

.h-icon-font-size-md {
  font-size: 1.25rem;
}

.h-icon-font-size-lg {
  font-size: 1.5rem;
}

.h-icon-font-size-xl {
  font-size: 1.75rem;
}

.h-icon-font-size-xxl {
  font-size: 2rem;
}
