
//==========================================================================
//  Animation
//==========================================================================


/*  When creating new keyframe animations be sure to add them to the
appropriate sass map for animation names.  A variable should also be created
via a map-get  This will ensure the animation names will be available as
variables and utility classes.  */

@keyframes h-fade-in {
  from { opacity: 0 }
  to { opacity: 1; }
}

@keyframes h-fade-in-up {
  from {
    opacity: 0;
    transform: translateY(1rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
