
//==========================================================================
//  Card
//==========================================================================

.h-card {
  background-color: $h-card-background-color;
  box-shadow: $h-shadow-1;

  @include media-breakpoint-up(md) {
    border-radius: $h-card-border-radius;
  }
}

.h-card__header {
  padding: 1rem;

  @include media-breakpoint-up(md) {
    border-radius: $h-card-border-radius $h-card-border-radius 0 0;
  }
}

.h-card__title {
  line-height: $h-line-height-1;
}

.h-card__body {
  padding: 0 1rem;
}

.h-card__footer {
  padding: 0.75rem 1rem;

  @include media-breakpoint-up(md) {
    border-radius: 0 0 $h-card-border-radius $h-card-border-radius;
  }
}

.h-card__header--colored,
.h-card__footer--colored {
  background: $h-card-header-footer-background-color;
}
