
//==========================================================================
//  Card
//==========================================================================

.h-card {
  background-color: $h-color-background-card;
  border-radius: $h-border-radius-card;
  box-shadow: $h-shadow-1;
}

.h-card--border-radius-none {
  &,
  & > .h-card__header,
  & > .h-card__footer {
    border-radius: 0;
  }
}

.h-card--border-radius-mobile-none {
  &,
  & > .h-card__header,
  & > .h-card__footer {
    @include media-breakpoint-down(sm) {
      border-radius: 0;
    }
  }
}

.h-card--outlined {
  border: 1px solid $h-card-border-color;
  box-shadow: none;
}

.h-card__header {
  padding: $h-padding-y-card-header-footer $h-padding-card;
  border-radius: $h-border-radius-card $h-border-radius-card 0 0;
}

.h-card__title {
  line-height: $h-line-height-1;
}

.h-card__body {
  padding: 0 $h-padding-card;
}

.h-card__footer {
  padding: $h-padding-y-card-header-footer $h-padding-card;
  border-radius: 0 0 $h-border-radius-card $h-border-radius-card;
}

.h-card__header--colored,
.h-card__footer--colored {
  background: $h-color-background-card-header-footer;
}
