//==========================================================================
//  Dialog
//==========================================================================

.h-dialog-wrapper {
  position: fixed;
  z-index: 9999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  width: 100%;
  height: 100%;
}

.h-dialog {
  display: flex;
  min-height: 100%;
  flex-direction: column;
  padding: $h-dialog-padding;
  opacity: 0;
  transition: 150ms ease-in-out all;
}

.h-dialog--md {
  .h-dialog__el {
    @include media-breakpoint-up(md) {
      width: $h-dialog-width-desktop-md;
    }
  }
}

.h-dialog--sm {
  .h-dialog__el {
    @include media-breakpoint-up(md) {
      width: $h-dialog-width-desktop-sm;
    }
  }
}

.h-dialog--lg {
  .h-dialog__el {
    @include media-breakpoint-up(md) {
      width: $h-dialog-width-desktop-lg;
    }
  }
}

.h-dialog--xl {
  .h-dialog__el {
    @include media-breakpoint-up(lg) {
      width: $h-dialog-width-desktop-xl;
    }
  }
}

.h-dialog--xxl {
  .h-dialog__el {
    @include media-breakpoint-up(xl) {
      width: $h-dialog-width-desktop-xxl;
    }
  }
}

.h-dialog--full-screen {
  .h-dialog__el {
    flex: 1;
  }
}

.h-dialog--top {
  justify-content: flex-start;
}

.h-dialog--right {
  align-items: flex-end;
}

.h-dialog--center {
  align-items: center;
  justify-content: center;
}

.h-dialog--center-y {
  justify-content: center;
}

.h-dialog--center-x {
  align-items: center;
}

.h-dialog--bottom {
  justify-content: flex-end;
}

.h-dialog--left {
  align-items: flex-start;
}

.h-dialog--open {
  opacity: 1;
}

.h-dialog--backdrop-none {
  pointer-events: none;

  & > .h-dialog__el {
    pointer-events: all;
  }
}

.h-dialog__backdrop {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  padding: 0;
  border: 0;
  margin: 0;
  background: rgba($h-black, 0.5);
  user-select: none;
}

.h-dialog__el {
  position: relative;
  z-index: 2;
  display: flex;
  width: 100%;
  max-height: 100%;
  flex-direction: column;
  justify-content: space-between;
  background: $h-color-background-shared-component;
  border-radius: $h-border-radius-shared-component;
  box-shadow: $h-dialog-box-shadow;
}

.h-dialog__header {
  position: relative;
  display: flex;
  padding: $h-dialog-padding;
}

.h-dialog__heading {
  padding-right: 1.5rem;
  margin: 0;
  color: $h-black;
  font-size: $h-font-size-xl;
  font-weight: $h-font-weight-medium;
  line-height: 20px;
}

.h-dialog__close {
  position: absolute;
  top: 1.125rem;
  right: 0.75rem;
  width: 2.25rem;
  height: 2.25rem;
  padding: 0;
  border: 0;
  margin: 0;
  border-radius: $h-border-radius;
  box-shadow: none;
  color: $h-color-text-normal;
  font-size: 1.5rem;

  @include h-form-element-transition;

  &:focus {
    box-shadow: $h-box-shadow-form-element-focused;
    outline: none;
  }
}

.h-dialog__body {
  flex-grow: 1;
  padding: $h-dialog-padding;

  & > :last-child {
    padding-bottom: 0;
    margin-bottom: 0;
  }
}

.h-dialog__header + .h-dialog__body {
  padding-top: 0;
}

.h-dialog__footer {
  padding: 1rem $h-dialog-padding;
  border-bottom-left-radius: $h-border-radius-shared-component;
  border-bottom-right-radius: $h-border-radius-shared-component;
}

.h-dialog__footer--with-background {
  background: $h-color-background-secondary-shared-component;
}

.h-dialog__footer-cta-container {
  display: flex;
  justify-content: flex-end;
}

//////////////////////////////////////////////////////////////////////
/// Dialog Animations
//////////////////////////////////////////////////////////////////////

.h-dialog--enter,
.h-dialog--appear {
  .h-dialog__el,
  .h-dialog__backdrop {
    opacity: 0;
  }

  .h-dialog__el {
    transform: translate(0, 2rem);
  }

  .h-dialog__el.h-dialog__el--slide-and-fade-from-right {
    transform: translate(2rem, 0);
  }
}

.h-dialog--appear-active,
.h-dialog--enter-active {
  .h-dialog__el,
  .h-dialog__backdrop {
    opacity: 1;
    transition: all $h-animation-duration-lg $h-animation-timing-ease-in-out;
  }

  .h-dialog__el {
    transform: translate(0, 0);
  }

  .h-dialog__el.h-dialog__el--slide-and-fade-from-right {
    transform: translate(0, 0);
  }
}

.h-dialog--exit {
  .h-dialog__el,
  .h-dialog__backdrop {
    opacity: 1;
  }

  .h-dialog__el {
    transform: translate(0, 0);
  }

  .h-dialog__el.h-dialog__el--slide-and-fade-from-right {
    transform: translate(0, 0);
  }
}

.h-dialog--exit-active {
  .h-dialog__el,
  .h-dialog__backdrop {
    opacity: 0;
    transition: all $h-animation-duration-lg $h-animation-timing-ease-in-out;
  }

  .h-dialog__el {
    transform: translate(0, 2rem);
  }

  .h-dialog__el.h-dialog__el--slide-and-fade-from-right {
    transform: translate(2rem, 0);
  }
}
