
//==========================================================================
//  Form
//==========================================================================

//  Form Group
//==========================================================================

.h-form-group {
  position: relative;
  margin-bottom: 1.5rem;

  &.h-form-group--nested {
    margin-bottom: $h-spacing-form-group-nested;
  }

  &.h-form-group--nested-xs {
    @include media-breakpoint-down(xs) {
      margin-bottom: $h-spacing-form-group-nested;
    }
  }

  &.h-form-group--nested-sm {
    @include media-breakpoint-down(sm) {
      margin-bottom: $h-spacing-form-group-nested;
    }
  }

  &.h-form-group--nested-md {
    @include media-breakpoint-down(md) {
      margin-bottom: $h-spacing-form-group-nested;
    }
  }

  &.h-form-group--nested-lg {
    @include media-breakpoint-down(lg) {
      margin-bottom: $h-spacing-form-group-nested;
    }
  }
}

//  Form Label
//==========================================================================

.h-form-label {
  margin-bottom: $h-spacing-form-element-label;
  color: $h-color-form-element-label;
}

//  Shared (Input, Textarea, Select)
//==========================================================================

.h-input,
.h-file-input,
.h-textarea,
.h-select,
.h-input-group .h-input-group__content {
  display: block;
  width: 100%;
  border: 1px solid $h-color-form-element-border;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: $h-border-radius-form-element;
  line-height: $h-line-height-form-element;

  @include h-form-element-transition();
}

.h-input,
.h-textarea,
.h-select {
  font-size: $h-font-size-md;

  &--inline {
    display: inline-block;
    width: auto;
  }

  &,
  &:focus {
    background-color: $h-color-form-element-background;
    color: $h-color-form-element-text;
  }

  &:focus,
  &[readonly]:focus {
    @include h-form-element-focus();
  }

  &:disabled,
  &.disabled {
    @include h-form-element-disabled-readonly();

    cursor: not-allowed;

    &:focus {
      border-color: $h-color-form-element-border;
      box-shadow: none;
    }
  }

  &--error {
    border-color: $h-color-form-element-border--error;

    &:focus {
      @include h-form-element-focus();

      box-shadow: $h-form-element-box-shadow-error;
    }
  }

  &::-webkit-input-placeholder {
    color: $h-color-form-element-placeholder-text;
  }

  &::-moz-placeholder {
    color: $h-color-form-element-placeholder-text;
  }

  &:-ms-input-placeholder {
    color: $h-color-form-element-placeholder-text;
  }

  &::-ms-input-placeholder {
    color: $h-color-form-element-placeholder-text;
  }

  &::placeholder {
    color: $h-color-form-element-placeholder-text;
  }
}

.h-input,
.h-textarea {
  &[readonly] {
    @include h-form-element-disabled-readonly();
  }

  &[readonly]:focus {
    @include h-form-element-focus();
  }
}

.h-input,
.h-file-input,
.h-input-group__content,
.h-textarea {
  padding: $h-padding-y-form-element $h-padding-x-form-element;
}

.h-input,
.h-input-group__content,
.h-select {
  height: $h-height-form-element;
}

//  Select
//==========================================================================

.h-select {
  padding: $h-padding-y-form-element 1rem $h-padding-y-form-element $h-padding-x-form-element;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  vertical-align: middle;

  &,
  &:focus {
    background: $h-color-form-element-background--select escape-svg($custom-select-indicator) no-repeat right 5px center;
    background-size: 8px 10px;
  }

  // Hide carets in older versions of IE
  &::-ms-expand {
    display: none;
  }
}

// Checkbox / Radio
//==========================================================================

$h-checkbox-radio-selectors-map: (
  checkbox: ".h-checkbox",
  radio: ".h-radio"
);

$h-checkbox-selector: map-get($h-checkbox-radio-selectors-map, checkbox);
$h-radio-selector: map-get($h-checkbox-radio-selectors-map, radio);

@each $h-checkbox-radio-selector-key, $h-checkbox-radio-selector in $h-checkbox-radio-selectors-map {
  #{$h-checkbox-radio-selector} {
    position: relative;
    display: inline-flex;
    align-items: center;

    #{$h-checkbox-radio-selector}__elm,
    #{$h-checkbox-radio-selector}__container {
      width: $h-size-checkbox-radio;
      height: $h-size-checkbox-radio;
    }

    #{$h-checkbox-radio-selector}__elm {
      position: absolute;
      // Add z-index to ensure click happens on native dom element
      z-index: 1;
      top: 0;
      left: 0;
      opacity: 0;

      &,
      ~ #{$h-checkbox-radio-selector}__container,
      ~ #{$h-checkbox-radio-selector}__label-content {
        cursor: pointer;
      }

      ~ #{$h-checkbox-radio-selector}__label-content {
        color: $h-color-form-element-label;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      &:focus {
        ~ #{$h-checkbox-radio-selector}__container {
          @include h-form-element-focus();
        }
      }

      &:checked {
        ~ #{$h-checkbox-radio-selector}__container {
          border-color: $h-color-brand;
          background-color: $h-color-brand;
        }
      }

      &:disabled,
      &[disabled] {
        &,
        &:focus {
          ~ #{$h-checkbox-radio-selector}__label-content {
            color: $h-color-form-element-text--disabled;
            cursor: default;
          }

          ~ #{$h-checkbox-radio-selector}__container {
            border-color: $h-color-form-element-border;
            background-color: $h-color-form-element-background--disabled;
            box-shadow: none;
          }
        }
      }
    }

    #{$h-checkbox-radio-selector}__container {
      position: relative;
      display: inline-block;
      flex-shrink: 0;
      border: 1px solid $h-color-form-element-border;
      background-color: $h-white;

      &::after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: transparent;
        background-position: center center;
        background-repeat: no-repeat;
        content: "";
      }

      + #{$h-checkbox-radio-selector}__label-content {
        padding-left: $h-spacing-checkbox-radio;
      }
    }

    &#{$h-checkbox-radio-selector}--sm {
      #{$h-checkbox-radio-selector}__elm,
      #{$h-checkbox-radio-selector}__container {
        width: $h-size-checkbox-radio-sm;
        height: $h-size-checkbox-radio-sm;
      }
    }

    &#{$h-checkbox-radio-selector}--lg {
      #{$h-checkbox-radio-selector}__elm,
      #{$h-checkbox-radio-selector}__container {
        width: $h-size-checkbox-radio-lg;
        height: $h-size-checkbox-radio-lg;
      }
    }
  }
}

#{$h-checkbox-selector} {
  @function getCheckboxSvgIcon($iconColor, $iconType: "check") {
    @if $iconType == "check" {
      @return "data:image/svg+xml,%3Csvg%20viewBox='0%200%2014%2011'%20xmlns='http://www.w3.org/2000/svg'%3E%3Cpath%20d='M.875%205.903L4.6%209.628%2013.125.875'%20stroke='%23#{$iconColor}'%20stroke-width='2'%20fill='none'%3E%3C/path%3E%3C/svg%3E";
    }

    @else {
      @return "data:image/svg+xml,%3Csvg%20viewBox='0%200%2012%202'%20xmlns='http://www.w3.org/2000/svg'%3E%3Cpath%20d='M0 0h12v2H0z'%20fill='%23#{$iconColor}'%3E%3C/path%3E%3C/svg%3E";
    }
  }

  &#{$h-checkbox-selector}--animate {
    #{$h-checkbox-selector}__elm {
      ~ #{$h-checkbox-selector}__container {
        transition: transform $h-animation-duration-form-element ease-out;

        &::after {
          opacity: 0;
          transform: scale($h-scale-checkbox-invisible);
          transition:
            opacity $h-animation-duration-checkbox-radio ease-out,
            transform $h-animation-duration-checkbox-radio ease-out;
        }
      }

      &:checked,
      &:indeterminate {
        ~ #{$h-checkbox-selector}__container {
          &::after {
            opacity: 1;
            transform: scale($h-scale-checkbox-visible);
          }
        }
      }

      &:active {
        ~ #{$h-checkbox-selector}__container {
          transform: scale($h-scale-checkbox-radio-active);
        }
      }
    }
  }

  #{$h-checkbox-selector}__elm {
    &:checked {
      ~ #{$h-checkbox-selector}__container:after {
        background-image: url(getCheckboxSvgIcon($h-color-checkbox-radio-icon));
      }

      &:disabled,
      &[disabled] {
        ~ #{$h-checkbox-selector}__container:after {
          background-image: url(getCheckboxSvgIcon($h-color-checkbox-radio-icon--disabled));
        }
      }
    }

    &:indeterminate {
      ~ #{$h-checkbox-selector}__container {
        border-color: $h-color-brand;
        background-color: $h-color-brand;
      }

      ~ #{$h-checkbox-selector}__container:after {
        background-image: url(getCheckboxSvgIcon($h-color-checkbox-radio-icon, "indeterminate"));
      }

      &:disabled,
      &[disabled] {
        ~ #{$h-checkbox-selector}__container {
          border-color: $h-color-form-element-border;
          background-color: $h-color-form-element-background--disabled;
          box-shadow: none;

          &::after {
            background-image: url(getCheckboxSvgIcon($h-color-checkbox-radio-icon--disabled, "indeterminate"));
          }
        }
      }
    }
  }

  #{$h-checkbox-selector}__container {
    border-radius: $h-border-radius-form-element;

    &::after {
      transform: scale($h-scale-checkbox-visible);
    }
  }
}

#{$h-radio-selector} {
  @function getRadioSvgIcon($iconColor) {
    @return "data:image/svg+xml,%3Csvg%20viewBox='0%200%208%208'%20xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle%20cx='4'%20cy='4'%20r='4'%20fill='%23#{$iconColor}'%3E%3C/circle%3E%3C/svg%3E";
  }

  &#{$h-radio-selector}--animate {
    &,
    &#{$h-radio-selector}--sm,
    &#{$h-radio-selector}--lg {
      #{$h-radio-selector}__elm {
        ~ #{$h-radio-selector}__container {
          transition: transform $h-animation-duration-form-element ease-out;

          &::after {
            opacity: 0;
            transform: scale($h-scale-radio-invisible);
            transition:
              opacity $h-animation-duration-checkbox-radio ease-out,
              transform $h-animation-duration-checkbox-radio ease-out;
          }
        }

        &:checked {
          ~ #{$h-radio-selector}__container {
            &::after {
              opacity: 1;
            }
          }
        }

        &:active {
          ~ #{$h-radio-selector}__container {
            transform: scale($h-scale-checkbox-radio-active);
          }
        }
      }
    }

    &#{$h-radio-selector}--sm {
      #{$h-radio-selector}__elm {
        &:checked {
          ~ #{$h-radio-selector}__container:after {
            transform: scale($h-scale-radio-visible-sm);
          }
        }
      }
    }

    &#{$h-radio-selector}--lg {
      #{$h-radio-selector}__elm {
        &:checked {
          ~ #{$h-radio-selector}__container:after {
            transform: scale($h-scale-radio-visible-lg);
          }
        }
      }
    }

    #{$h-radio-selector}__elm {
      &:checked {
        ~ #{$h-radio-selector}__container {
          &::after {
            transform: scale($h-scale-radio-visible);
          }
        }
      }
    }
  }

  #{$h-radio-selector}__elm {
    ~ #{$h-radio-selector}__container:after {
      transform: scale($h-scale-radio-visible);
    }

    &:checked {
      ~ #{$h-radio-selector}__container:after {
        background-image: url(getRadioSvgIcon($h-color-checkbox-radio-icon));
      }

      &:disabled,
      &[disabled] {
        ~ #{$h-radio-selector}__container:after {
          background-image: url(getRadioSvgIcon($h-color-checkbox-radio-icon--disabled));
        }
      }
    }
  }

  &#{$h-radio-selector}--sm {
    #{$h-radio-selector}__elm {
      ~ #{$h-radio-selector}__container:after {
        transform: scale($h-scale-radio-visible-sm);
      }
    }
  }

  &#{$h-radio-selector}--lg {
    #{$h-radio-selector}__elm {
      ~ #{$h-radio-selector}__container:after {
        transform: scale($h-scale-radio-visible-lg);
      }
    }
  }

  #{$h-radio-selector}__container {
    border-radius: 50%;
  }
}

//  Checkbox/Radio with Label (Deprecated)
//==========================================================================

.h-check {
  display: inline-block;
}

.h-check__label {
  display: flex;
  align-items: center;
  margin: 0;
  color: $h-color-form-element-text;
}

.h-check__input {
  flex-shrink: 0;
  border: 1px solid transparent;

  + .h-check__label-text {
    margin-left: $h-spacing-form-element-check;
  }

  &:focus {
    @include h-form-element-focus();

    border-radius: $h-border-radius-form-element;
  }

  &:disabled,
  &.disabled {
    ~ .h-check__label-text {
      color: $h-color-form-element-text--disabled;
    }
  }
}

.h-check__label-text {
  + .h-check__input {
    margin-left: $h-spacing-form-element-check;
  }
}

//  Input Group
//==========================================================================

.h-input-group {
  position: relative;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: stretch;

  .h-input-group__prepend,
  .h-input-group__append {
    display: flex;

    button.h-input-group__content {
      z-index: 2;

      @include h-form-element-transition();

      &:focus {
        @include h-form-element-focus();
      }
    }
  }

  .h-input-group__prepend {
    margin-right: -1px;
  }

  .h-input-group__append {
    margin-left: -1px;
  }

  .h-input-group__content {
    display: flex;
    align-items: center;
    border: 1px solid $h-color-form-element-border;
    background-color: $h-color-form-element-background--addon;
    border-radius: $h-border-radius-form-element;
    color: $h-color-form-element-label;
    text-align: center;
    white-space: nowrap;
  }

  & > .h-input-group__prepend {
    & > .h-input-group__content {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
    }
  }

  & > .h-input-group__append {
    & > .h-input-group__content {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
    }
  }

  & > .h-input {
    position: relative;
    width: 1%;
    flex: 1 1 auto;
    margin-bottom: 0;

    &:focus {
      z-index: 3;
    }

    &:not(:first-child) {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
    }

    &:not(:last-child) {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
    }
  }
}

//  File Inputs
//==========================================================================

.h-file-input {
  background-color: $h-color-form-element-background;

  &,
  &::-webkit-file-upload-button {
    color: $h-color-form-element-text;
    font-size: $h-font-size-sm;
  }

  &::-webkit-file-upload-button {
    padding: $h-padding-y-form-element $h-padding-x-form-element;
    border: 1px solid $h-color-form-element-border;
    background-color: $h-color-form-element-background--alt;
    border-radius: $h-border-radius-form-element;
    cursor: pointer;
    font-family: $h-font-family-default;

    &:focus {
      outline: 0;
    }
  }

  &:focus,
  &:focus-within {
    @include h-form-element-focus();
  }

  &::-ms-value {
    display: none;
  }

  // Although these styles are similar to the ones we declare for
  // -webkit-file-upload-button, this needs to be in a separate ruleset
  // for proper compilation.
  &::-ms-browse {
    padding: $h-padding-y-form-element $h-padding-x-form-element;
    border: 1px solid $h-color-form-element-border;
    background-color: $h-color-form-element-background--alt;
    border-radius: $h-border-radius-form-element;
    color: $h-color-form-element-text;
    cursor: pointer;
    font-family: $h-font-family-default;
    font-size: $h-font-size-sm;

    &::-ms-browse:focus,
    &::-ms-browse:active {
      @include h-form-element-focus();
    }
  }
}
