
//  React Dialog
//==========================================================================

// Box Model
$h-dialog-padding: 1.5rem;
$h-dialog-box-shadow: 0 0 0.75rem -0.25rem rgba($h-black, 0.25);
$h-dialog-width--mobile: calc(100vw - #{$h-dialog-padding});
$h-dialog-width--desktop-md: 500px;
$h-dialog-width--desktop-sm: 360px;
$h-dialog-width--desktop-lg: 650px;
$h-dialog-max-height: calc(100vh - #{$h-dialog-padding});

.h-react-dialog-portal {
  position: fixed;
  z-index: 9999;
}

.h-react-dialog {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  display: flex;
  overflow: auto;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding: $h-dialog-padding;
  opacity: 0;
  transition: 150ms ease-in-out all;
}

.h-react-dialog--md {
  .h-react-dialog__el {
    @include media-breakpoint-up(md) {
      width: $h-dialog-width--desktop-md;
    }
  }
}

.h-react-dialog--sm {
  .h-react-dialog__el {
    @include media-breakpoint-up(md) {
      width: $h-dialog-width--desktop-sm;
    }
  }
}

.h-react-dialog--lg {
  .h-react-dialog__el {
    @include media-breakpoint-up(md) {
      width: $h-dialog-width--desktop-lg;
    }
  }
}

.h-react-dialog--full-screen {
  .h-react-dialog__el {
    width: calc(100% - #{$h-dialog-padding});
    height: calc(100% - #{$h-dialog-padding});
  }
}

.h-react-dialog--top {
  align-items: flex-start;
}

.h-react-dialog--right {
  justify-content: flex-end;
}

.h-react-dialog--center {
  align-items: center;
  justify-content: center;
}

.h-react-dialog--center-y {
  align-items: center;
}

.h-react-dialog--center-x {
  justify-content: center;
}

.h-react-dialog--bottom {
  align-items: flex-end;
}

.h-react-dialog--left {
  justify-content: flex-start;
}

.h-react-dialog--open {
  opacity: 1;
}

.h-react-dialog__backdrop {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  padding: 0;
  border: 0;
  margin: 0;
  background: rgba($h-black, 0.25);
}

.h-react-dialog__el {
  position: relative;
  z-index: 2;
  display: flex;
  overflow: auto;
  width: $h-dialog-width--mobile;
  max-height: $h-dialog-max-height;
  flex-direction: column;
  justify-content: space-between;
  background: $h-color-background-shared-component;
  border-radius: $h-border-radius-shared-component;
  box-shadow: $h-dialog-box-shadow;

  &:focus {
    @include h-form-element-focus();
  }
}

.h-react-dialog__header {
  position: relative;
  display: flex;
  padding: $h-dialog-padding;
}

.h-react-dialog__heading {
  margin: 0;
  color: $h-black;
  font-size: $h-font-size-xl;
  font-weight: $h-font-weight-medium;
  line-height: 20px;
}

.h-react-dialog__close {
  position: absolute;
  top: 1.125rem;
  right: 0.75rem;
  width: 2.25rem;
  height: 2.25rem;
  padding: 0;
  border: 0;
  margin: 0;
  border-radius: $h-border-radius;
  box-shadow: none;
  color: $h-color-text-normal;
  font-size: 1.5rem;

  @include h-form-element-transition();

  &:focus {
    box-shadow: $h-box-shadow-form-element-focused;
    outline: none;
  }
}

.h-react-dialog__body {
  flex-grow: 1;
  padding: $h-dialog-padding;

  & > :last-child {
    padding-bottom: 0;
    margin-bottom: 0;
  }
}

.h-react-dialog__header + .h-react-dialog__body {
  padding-top: 0;
}

.h-react-dialog__footer {
  padding: 1rem $h-dialog-padding;
  border-bottom-left-radius: $h-border-radius-shared-component;
  border-bottom-right-radius: $h-border-radius-shared-component;
}

.h-react-dialog__footer--with-background {
  background: $h-color-background-secondary-shared-component;
}

.h-react-dialog__footer-cta-container {
  display: flex;
  justify-content: flex-end;
}
