
//==========================================================================
//  Spinner
//==========================================================================

.h-spinner {
  width: 2rem;
  height: 2rem;
  animation:
    $h-animation-spin
    $h-animation-duration-xxl
    $h-animation-timing-linear
    infinite;
}

.h-spinner--sm {
  width: 1rem;
  height: 1rem;
}

.h-spinner--lg {
  width: 4rem;
  height: 4rem;
}
