
//==========================================================================
//  Table
//==========================================================================

.h-table {
  position: relative;
  border-radius: $h-border-radius-shared-component;

  &.h-table--layout-fixed {
    & > .h-table__table {
      table-layout: fixed;
    }
  }

  &.h-table--layout-fixed-mobile {
    @include media-breakpoint-down(md) {
      & > .h-table__table {
        table-layout: fixed;
      }
    }
  }

  &.h-table--layout-fixed-desktop {
    @include media-breakpoint-up(md) {
      & > .h-table__table {
        table-layout: fixed;
      }
    }
  }

  &.h-table--align-middle {
    & > .h-table__table {
      th,
      .h-table__heading,
      td,
      .h-table__data {
        vertical-align: middle;
      }
    }
  }

  &.h-table--align-middle-desktop {
    @include media-breakpoint-up(md) {
      & > .h-table__table {
        th,
        .h-table__heading,
        td,
        .h-table__data {
          vertical-align: middle;
        }
      }
    }
  }

  &.h-table--dense {
    & > .h-table__table {
      th,
      .h-table__heading,
      td,
      .h-table__data {
        padding: $h-spacing-y-dense-table-cell $h-spacing-x-dense-table-cell;
      }
    }
  }

  .h-table__table {
    display: table;
    width: 100%;
    margin: 0; // TODO Remove after implementation
    border-collapse: collapse;
    font-size: $h-font-size-md;
    word-break: break-word;

    & > thead,
    & > .h-table__header {
      tr,
      .h-table__row {
        &:first-child {
          th,
          .h-table__heading {
            border-top: 0;

            &:first-child {
              border-top-left-radius: $h-border-radius-shared-component;
            }

            &:last-child {
              border-top-right-radius: $h-border-radius-shared-component;
            }
          }
        }
      }

      + tbody,
      + .h-table__body {
        & > tr,
        & > .h-table__row {
          &:first-child {
            & > th,
            & > .h-table__heading,
            & > td,
            & > .h-table__data {
              border-top: 0;

              &:first-child {
                border-top-left-radius: 0;
              }

              &:last-child {
                border-top-right-radius: 0;
              }
            }
          }
        }
      }
    }

    & > tbody,
    & > .h-table__body {
      & > tr,
      & > .h-table__row {
        background: $h-color-background-shared-component;

        & > th,
        & > .h-table__heading,
        & > td,
        & > .h-table__data {
          border-top: 1px solid $h-color-border-shared-component;
        }

        &:first-child {
          & > th,
          & > .h-table__heading,
          & > td,
          & > .h-table__data {
            border-top: 0;

            &:first-child {
              border-top-left-radius: $h-border-radius-shared-component;
            }

            &:last-child {
              border-top-right-radius: $h-border-radius-shared-component;
            }
          }
        }

        &:last-child {
          & > th,
          & > .h-table__heading,
          & > td,
          & > .h-table__data {
            &:first-child {
              border-bottom-left-radius: $h-border-radius-shared-component;
            }

            &:last-child {
              border-bottom-right-radius: $h-border-radius-shared-component;
            }
          }
        }
      }
    }
  }

  th,
  .h-table__heading,
  td,
  .h-table__data {
    line-height: $h-line-height-base;
    text-align: left;
    vertical-align: top;

    .h-table__cell-content {
      display: block;
    }
  }

  th,
  .h-table__heading {
    background: $h-color-background-secondary-shared-component;
    color: $h-black;
    font-weight: $h-font-weight-bold;
  }
}

//  Screen
//==========================================================================

@media screen {
  .h-table {
    box-shadow: $h-box-shadow-shared-component;

    &.h-table--untable {
      @include media-breakpoint-down(md) {
        .h-table__table {
          display: block;
          width: 100%;

          thead,
          .h-table__header {
            display: none;
          }

          tbody,
          .h-table__body,
          tr,
          .h-table__row,
          th,
          .h-table__heading,
          td,
          .h-table__data {
            display: block;
            width: 100%;
          }

          & > tbody,
          & > .h-table__body {
            & > tr,
            & > .h-table__row {
              padding: $h-spacing-y-table-cell 0;
              border-top: 1px solid $h-color-border-shared-component;

              & > th,
              & > .h-table__heading,
              & > td,
              & > .h-table__data {
                border-top: 0;
              }

              & > th,
              & > .h-table__heading {
                border-bottom: 1px solid $h-color-border-shared-component;
                // We have some special cases, like our financial account tables, where we use headings inside
                // the tbody. These headings are typically describing one horizontal row, and as a result
                // we need to keep the headings on mobile to give the user context as to what the row
                // represents. Since these headings have their own padding, we want to avoid the extra
                // padding we get on tr elements by default inside the "untable" modifier.
                margin-top: $h-spacing-y-table-cell * -1;

                & + td,
                & + .h-table__data {
                  margin-bottom: $h-spacing-y-table-cell;
                }
                // End comment

                &:last-child {
                  border-bottom: 0;
                }
              }

              &:first-child {
                border-top: 0;
                border-radius: $h-border-radius-shared-component $h-border-radius-shared-component 0 0;

                & > th,
                & > .h-table__heading,
                & > td,
                & > .h-table__data {
                  &:first-child {
                    border-radius: $h-border-radius-shared-component $h-border-radius-shared-component 0 0;
                  }
                }
              }

              &:last-child {
                border-radius: 0 0 $h-border-radius-shared-component $h-border-radius-shared-component;

                & > th,
                & > .h-table__heading,
                & > td,
                & > .h-table__data {
                  &:first-child {
                    border-radius: 0;
                  }

                  &:last-child {
                    border-radius: 0 0 $h-border-radius-shared-component $h-border-radius-shared-component;
                  }
                }
              }

              &:only-child {
                border-top: 0;
                border-radius: $h-border-radius-shared-component;

                & > th,
                & > .h-table__heading,
                & > td,
                & > .h-table__data {
                  &:first-child {
                    border-radius: $h-border-radius-shared-component $h-border-radius-shared-component 0 0;
                  }

                  &:last-child {
                    border-radius: 0 0 $h-border-radius-shared-component $h-border-radius-shared-component;
                  }
                }
              }
            }
          }
        }
      }
    }

    &.h-table--border-radius-none {
      border-radius: 0;

      & > .h-table__table {
        & > thead,
        & > .h-table__header {
          tr,
          .h-table__row {
            &:first-child {
              th,
              .h-table__heading {
                &:first-child,
                &:last-child {
                  border-radius: 0;
                }
              }
            }
          }
        }

        & > tbody,
        & > .h-table__body {
          & > tr,
          & > .h-table__row {
            &:first-child,
            &:last-child {
              & > th,
              & > .h-table__heading,
              & > td,
              & > .h-table__data {
                &:first-child,
                &:last-child {
                  border-radius: 0;
                }
              }
            }
          }
        }
      }
    }

    &.h-table--border-radius-mobile-none {
      @include media-breakpoint-down(md) {
        border-radius: 0;

        & > .h-table__table {
          & > thead,
          & > .h-table__header {
            tr,
            .h-table__row {
              &:first-child {
                th,
                .h-table__heading {
                  &:first-child,
                  &:last-child {
                    border-radius: 0;
                  }
                }
              }
            }
          }

          & > tbody,
          & > .h-table__body {
            & > tr,
            & > .h-table__row {
              &:first-child,
              &:last-child {
                border-radius: 0;

                & > th,
                & > .h-table__heading,
                & > td,
                & > .h-table__data {
                  &:first-child,
                  &:last-child {
                    border-radius: 0;
                  }
                }
              }
            }
          }
        }
      }
    }

    &:not(.h-table--border-radius-none),
    &:not(.h-table--border-radius-mobile-none) {
      @include media-breakpoint-down(md) {
        thead,
        .h-table__header {
          tr,
          .h-table__row {
            .h-table__heading--mobile-first-visible-column {
              border-top-left-radius: $h-border-radius-shared-component;
            }

            .h-table__heading--mobile-last-visible-column {
              border-top-right-radius: $h-border-radius-shared-component;
            }
          }
        }

        tbody,
        .h-table__body {
          tr,
          .h-table__row {
            &:last-child {
              .h-table__data--mobile-first-visible-column {
                border-bottom-left-radius: $h-border-radius-shared-component;
              }

              .h-table__data--mobile-last-visible-column {
                border-bottom-right-radius: $h-border-radius-shared-component;
              }
            }

            &.h-table__row--mobile-first-visible-row {
              th,
              .h-table__heading,
              td,
              .h-table__data {
                border-top: 0;

                &:first-child {
                  border-top-left-radius: $h-border-radius-shared-component;
                }

                &:last-child {
                  border-top-right-radius: $h-border-radius-shared-component;
                }
              }
            }

            &.h-table__row--mobile-last-visible-row {
              th,
              .h-table__heading,
              td,
              .h-table__data {
                &:first-child {
                  border-bottom-left-radius: $h-border-radius-shared-component;
                }

                &:last-child {
                  border-bottom-right-radius: $h-border-radius-shared-component;
                }
              }
            }
          }
        }
      }

      @include media-breakpoint-up(md) {
        tbody,
        .h-table__body {
          tr,
          .h-table__row {
            &:last-child {
              .h-table__data--desktop-first-visible-column {
                border-bottom-left-radius: $h-border-radius-shared-component;
              }

              .h-table__data--desktop-last-visible-column {
                border-bottom-right-radius: $h-border-radius-shared-component;
              }
            }
          }
        }
      }
    }

    &.h-table--outlined {
      border: 1px solid $h-color-border-shared-component;
      box-shadow: none;
    }

    &.h-table--fixed-header {
      overflow: auto;

      & > .h-table__table {
        th,
        .h-table__heading {
          position: -webkit-sticky;
          position: sticky;
          z-index: 1;
          top: 0;
        }

        & > thead,
        & > .h-table__header {
          th,
          .h-table__heading {
            box-shadow: 0 1px 0 0 $h-color-border-shared-component; // Heading border workaround because sticky headers do not maintain their border on scroll
          }
        }

        & > tbody,
        & > .h-table__body {
          & > th,
          & > .h-table__heading {
            left: 0;
            box-shadow: 1px 0 0 0 $h-color-border-shared-component; // Heading border workaround because sticky headers do not maintain their border on scroll
          }
        }
      }
    }

    &.h-table--overflow-x {
      overflow-x: auto;

      & > .h-table__table {
        table-layout: auto;
        word-break: normal;

        th,
        .h-table__heading,
        td,
        .h-table__data {
          white-space: nowrap;
        }
      }
    }

    &.h-table--hover {
      & > .h-table__table {
        & > tbody,
        & > .h-table__body {
          & > tr,
          & > .h-table__row {
            &:hover {
              background: $h-color-background-active;
              cursor: pointer;
            }
          }
        }
      }
    }

    .h-table__row--hover,
    .h-table__cell--hover {
      &:hover {
        background: $h-color-background-active;
      }
    }

    .h-table__row--active,
    .h-table__cell--active {
      background: $h-color-background-active;
    }

    th,
    .h-table__heading,
    td,
    .h-table__data {
      padding: $h-spacing-y-table-cell $h-spacing-x-table-cell;
    }
  }
}

//  Print
//==========================================================================

@media print {
  .h-table {
    border: 1px solid $h-color-border-print;

    &.h-table--print-layout-fixed {
      & > .h-table__table {
        table-layout: fixed;
      }
    }

    thead,
    .h-table__header {
      tr,
      .h-table__row {
        .h-table__heading--print-first-visible-column {
          border-top-left-radius: $h-border-radius-shared-component;
        }

        .h-table__heading--print-last-visible-column {
          border-top-right-radius: $h-border-radius-shared-component;
        }
      }
    }

    th,
    .h-table__heading,
    td,
    .h-table__data {
      padding: $h-spacing-y-dense-table-cell $h-spacing-x-dense-table-cell;
    }

    .h-table__table {
      font-size: $h-font-size-sm;

      & > thead,
      & > .h-table__header {
        th,
        .h-table__heading {
          border-bottom: 1px solid $h-color-border-print;
        }
      }

      tbody,
      .h-table__body {
        tr,
        .h-table__row {
          &:last-child {
            .h-table__data--print-first-visible-column {
              border-bottom-left-radius: $h-border-radius-shared-component;
            }

            .h-table__data--print-last-visible-column {
              border-bottom-right-radius: $h-border-radius-shared-component;
            }
          }

          &.h-table__row--print-first-visible-row {
            th,
            .h-table__heading,
            td,
            .h-table__data {
              border-top: 0;

              &:first-child {
                border-top-left-radius: $h-border-radius-shared-component;
              }

              &:last-child {
                border-top-right-radius: $h-border-radius-shared-component;
              }
            }
          }

          &.h-table__row--print-last-visible-row {
            th,
            .h-table__heading,
            td,
            .h-table__data {
              &:first-child {
                border-bottom-left-radius: $h-border-radius-shared-component;
              }

              &:last-child {
                border-bottom-right-radius: $h-border-radius-shared-component;
              }
            }
          }
        }
      }
    }
  }
}
